# Measure of Central Tendency (Mean, Median ,Mode)

### Mean(Average)

In [8]:

age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [9]:
import numpy as np
np.mean(age)

41.416666666666664

In [10]:
weight=[56,65,78,54,78,44,89,75,34,56,65,67,88]
np.mean(weight)

65.3076923076923

In [13]:
# Calculating the Mean from the data 
import seaborn as sns
df=sns.load_dataset('tips')

In [14]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
np.mean(df['total_bill'])

19.78594262295082

### Median

In [17]:
age

[12, 21, 23, 45, 65, 43, 56, 45, 32, 67, 54, 34]

In [18]:
weight

[56, 65, 78, 54, 78, 44, 89, 75, 34, 56, 65, 67, 88]

In [16]:
np.median(age)

44.0

In [21]:
# Median with Outlier
age=[12, 21, 23, 45, 65, 43, 56, 45, 32, 67, 54, 34,200] # Here 200 is outliers

In [22]:
np.mean(age)

53.61538461538461

In [27]:
np.median(age) # mean is shifted a lot where median is just shifted by 1 
# Median is used where outliers are present

45.0

In [29]:
np.median(df['total_bill'])

17.795

### Mode

In [24]:
from scipy import stats

In [26]:
stats.mode(age)
# Data with the maximum occurance

/tmp/ipykernel_135/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))